@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
}

p, li{
    font-family: 'Mulish', sans-serif;
}


@layer base {
    body {
        @apply text-royal-graph ;
        @apply text-base;
    }
    h1, h2, h3, h4, h5{
        @apply text-royal-graph font-normal;
        
    }
}

.pink-button{
    @apply font-mulish py-1.5 inline-block font-bold rounded-full text-[16px] transition-all duration-500 border-none relative bg-royal-pink focus-visible:outline-none;
    color: white;
}

#menuBar.bg-white .pink-button:hover{
    color: #656a76
}

.pink-button::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transition: all 0.3s;
    z-index: 1;
}



.pink-button:hover::before {
    opacity: 0;
    transform: scale(0.7,0.7);
}
  
.pink-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    border: 2px solid rgba(214, 71, 103, .8);
    border-radius: 999px;
    transform: scale(1.5,1.5);
    opacity: 0;
    z-index: 1;
  }
  
.pink-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.pink-button:hover {
    background-color: transparent
}

.pink-button-bg-white:hover{
    @apply text-royal-pink
}

.gray-button{
    @apply font-mulish py-1.5 inline-block px-6 font-semibold tracking-wider rounded-full text-base transition-all duration-500  text-royal-graph relative border-royal-graph border-2 focus-visible:outline-none;

}

.gray-button::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transition: all 0.3s;
    z-index: 1;
}

.gray-button:hover::before {
    opacity: 0;
    transform: scale(0.7,0.7);
}

.gray-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    border: 2px solid rgba(101, 106, 118, .8);
    border-radius: 999px;
    transform: scale(1.5, 1.5);
    opacity: 0;
    z-index: 1;
}
  
.gray-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.gray-button:hover {
    background-color: rgba(101, 106, 118, 1);
    color: white;
}

.ant-modal-body {
    padding: 0 !important;
}

/* .ant-modal{
    top: 0 !important;
} */

/* Swiper General */

.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 18px!important;
    font-weight: 800!important;
    color: #d64767;
}
 
.swiper-button-prev::after {
    content: url('/assets/img/general/Flecha.svg')!important;
    width: 13px!important;
    rotate: 180deg;
    height: 45%!important;
}

.swiper-button-next::after{
    content: url('/assets/img/general/Flecha.svg')!important;
    width: 13px!important;
    height: 41%!important;
}

.swiper-button-prev, .swiper-button-next{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    @apply animate-pulse
}

.swiper-pagination-bullet{
    width: 14px!important;
    height: 14px!important;
    background-color: rgba(214, 71, 103, .80) !important;
}
 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px!important;
}
 .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: rgba(214, 71, 103, 1) !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 20px!important;
}

/* Fin Swiper General */


/* Home Swiper */

.homeSwiper .swiper-button-prev, .homeSwiper .swiper-button-next{
    /* top: unset;
    bottom: 50%; */
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 40px;
    height: 40px;
    @apply drop-shadow-sm
}

.homeSwiper .swiper-button-prev {
    left: 30px;
}
.homeSwiper .swiper-button-next{
    right: 30px;
}

.homeSwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 60px!important;
}

/* Fin Home Swiper */


/* FullSwiper */
.fullSwiper .swiper-button-prev, .fullSwiper .swiper-button-next{
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 30px;
    height: 30px;
    @apply drop-shadow-sm
}

.fullSwiper .swiper-pagination-bullet{
    width: 10px!important;
    height: 10px!important;
    background-color: rgba(255, 255, 255, .80) !important;
}

.fullSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: rgba(255, 255, 255, 1) !important;
}
.fullSwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 15px!important;
}
/* Fin FullSwiper */

/* Modelos Swiper */
.modelosSlider{
    @apply transition-all duration-1000
}

.modelosSlider .swiper-button-prev, .modelosSlider .swiper-button-next{
    top: unset;
    bottom: 10%;
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 40px;
    height: 40px;
    @apply drop-shadow-sm
}


.modelosSlider .swiper-button-prev{
    left: 74%;
   
} 
.modelosSlider .swiper-button-next{
    left: 81%;
}

/* Fin  Modelos Siper */


/* Galerias Slider */

.galeriaSlider{
    padding: 0 20px !important;
}


.galeriaSlider .swiper-button-prev, .galeriaSlider .swiper-button-next{
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 40px;
    height: 40px;
    @apply drop-shadow-sm
}

.galeriaSlider .swiper-button-prev{
    left: 5px
   
} 
.galeriaSlider .swiper-button-next{
    right: 5px;
}

.galeriaSlider .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 50px!important;
}

/* FIn Galerias Slider */

.ant-modal-mask {
    backdrop-filter: blur(5px);
}


@keyframes chug {
    0% {
      object-position: left;
    }
    50% {
        object-position: right;
    }
    100% {
        object-position: left;
    }
}


  
.link::after {
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.link.active::after{
    transform: scaleX(1);
}

.link:hover::after{
    transform: scaleX(1);
}


.listEffect_item{
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@media (max-width: 1024px){
    .textSlider__container__list {
        padding-left: 100px;
    }
    .textSlider__container {
        height: 28px;
    }
    .textSlider__container {
        padding: 0 10px;
    }
    .textSlider__container__list__item{
        line-height: 1.75rem;
    }
    .homeSwiper .swiper-button-prev, .homeSwiper .swiper-button-next{
        top: unset;
        bottom: 40%;
    }

    .banner-effect, #banner-effect{
        animation-name: chug;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        object-position: left;
        animation-timing-function: linear;
    }

    .modelosSlider .swiper-button-prev, .modelosSlider .swiper-button-next{
        top: unset;
        bottom: 5%;
    }
    .modelosSlider .swiper-button-prev{
        left: 40%;
       
    } 
    .modelosSlider .swiper-button-next{
        left: 55%;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0px!important;
    }

    .homeSwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 30px!important;
    }
}


@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        /* transform: translate3d(0, -48px, 0); */
        transform: translate3d(0, -100%, 0);
   }
    33.32%, 45.98% {
        /* transform: translate3d(0, -96px, 0); */
        transform: translate3d(0, -200%, 0);
   }
    49.98%, 62.64% {
        /* transform: translate3d(0, -144px, 0); */
        transform: translate3d(0, -300%, 0);
   }
    66.64%, 79.3% {
        /* transform: translate3d(0, -96px, 0); */
        transform: translate3d(0, -200%, 0);
   }
    83.3%, 95.96% {
        /* transform: translate3d(0, -48px, 0); */
        transform: translate3d(0, -100%, 0);
   }
}


/* 
@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0+10px, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%+10px, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%+10px, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%+10px, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%+10px, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%+10px, 0);
   }
}
@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0+10px, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%+10px, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%+10px, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%+10px, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%+10px, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%+10px, 0);
   }
}
@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0+10px, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%+10px, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%+10px, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%+10px, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%+10px, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%+10px, 0);
   }
}
@keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
} */