@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
}

p, li{
    font-family: 'Mulish', sans-serif;
}


@layer base {
    body {
        @apply text-royal-graph ;
        @apply text-base;
    }
    h1, h2, h3, h4, h5{
        @apply text-royal-graph font-normal;
        
    }
}

.pink-button{
    @apply font-mulish py-2 inline-block font-bold tracking-wider rounded-full text-sm transition-all duration-500 border-none text-white relative bg-royal-pink focus-visible:outline-none
}

.pink-button::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transition: all 0.3s;
    z-index: 1;
}



.pink-button:hover::before {
    opacity: 0;
    transform: scale(0.7,0.7);
}
  
.pink-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    border: 2px solid rgba(214, 71, 103, .8);
    border-radius: 999px;
    transform: scale(1.5,1.5);
    opacity: 0;
    z-index: 1;
  }
  
.pink-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.pink-button:hover {
    background-color: transparent
}

.pink-button-bg-white:hover{
    @apply text-royal-pink
}



.gray-button{
    @apply font-mulish py-2 inline-block px-6 font-bold tracking-wider rounded-full text-sm transition-all duration-500  text-white relative border-royal-graph border-2 focus-visible:outline-none;
    background-color: #212121;
}

.gray-button::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 106, 118, 0);
    border-radius: 5px;
    transition: all 0.3s;
    z-index: 1;
}

.gray-button:hover::before {
    opacity: 0;
    transform: scale(0.7,0.7);
}

.gray-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    border: 1px solid rgba(101, 106, 118, 0);
    border-radius: 5px;
    transform: scale(1.5,1.5);
    opacity: 0;
    z-index: 1;
}
  
.gray-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.gray-button:hover {
    /* @apply text-ro */
}



.homeSwiper .swiper-scrollbar{
    bottom: 5%!important;
    max-width: 40%;
    right: 10%;
    width: 100%;
    margin-left: auto;
    position: relative;
}

.homeSwiper .swiper-scrollbar-drag {
    background: rgba(214, 71, 103, 1);
}

.homeSwiper .swiper-button-prev, .homeSwiper .swiper-button-next{
    top: unset;
    bottom: 18%;
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 30px;
    height: 30px;
    @apply drop-shadow-sm
}
.homeSwiper .swiper-button-prev::after, .homeSwiper .swiper-button-next::after{
    font-size: 14px;
    font-weight: 900;
}

.homeSwiper .swiper-button-prev{
    left: 66%;
   
} 
.homeSwiper .swiper-button-next{
    left: 70%;
}

.modelos2Swiper{
    padding-bottom: 20px;
}
.modelos2Swiper .swiper-scrollbar {
    margin-top: 10px;
    max-width: 80%;
    left: 10%!important;
    width: 100%!important;
}

.modelos2Swiper .swiper-scrollbar-drag {
    background: rgba(214, 71, 103, 1);
}

.modelos2Swiper .swiper-button-prev, .modelos2Swiper .swiper-button-next{
    top: unset;
    bottom: 10%;
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 30px;
    height: 30px;
    @apply drop-shadow-sm
}
.modelos2Swiper .swiper-button-prev::after, .modelos2Swiper .swiper-button-next::after{
    font-size: 14px;
    font-weight: 900;
}

.modelos2Swiper .swiper-button-prev{
    left: 43%;
   
} 
.modelos2Swiper .swiper-button-next{
    left: 52%;
}

.modelosSlider{
    @apply transition-all duration-1000
}

.modelosSlider .swiper-button-prev, .modelosSlider .swiper-button-next{
    top: unset;
    bottom: 10%;
    background-color: white;
    border-radius: 100%;
    color: #656A76;
    width: 30px;
    height: 30px;
    @apply drop-shadow-sm
}
.modelosSlider .swiper-button-prev::after, .modelosSlider .swiper-button-next::after{
    font-size: 14px;
    font-weight: 900;
}

.modelosSlider .swiper-button-prev{
    left: 90%;
   
} 
.modelosSlider .swiper-button-next{
    left: 94%;
}


.ant-modal-body {
    padding: 0 !important;
}




@media (max-width: 1024px){
    .homeSwiper .swiper-scrollbar{
        max-width: 90%;
        width: 100%;
        margin: auto;
        position: relative;
    }

    .homeSwiper .swiper-button-prev, .homeSwiper .swiper-button-next{
        bottom: 7%;
    }
    
    .homeSwiper .swiper-button-prev{
        left: 35%;
       
    } 
    .homeSwiper .swiper-button-next{
        left: 60%;
    }

    .modelos2Swiper .swiper-button-prev{
        left: 30%;
       
    } 
    .modelos2Swiper .swiper-button-next{
        left: 60%;
    }
    .modelos2Swiper .swiper-button-prev, .modelos2Swiper .swiper-button-next{
        bottom: 15%;
    }
    

    #banner-home{
        animation-name: chug;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        object-position: left;
        animation-timing-function: linear;
    }


    .modelosSlider .swiper-button-prev, .modelosSlider .swiper-button-next{
        top: unset;
        bottom: 12%;
    }
    .modelosSlider .swiper-button-prev{
        left: 40%;
       
    } 
    .modelosSlider .swiper-button-next{
        left: 55%;
    }
}


@keyframes chug {
    0% {
      object-position: left;
    }
    50% {
        object-position: right;
    }
    100% {
        object-position: left;
    }
  }